* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

header .header-top {
    background-color: #313041;
}

header .header-top .header-top-control {
    margin: 0 auto;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 480px;
}

header .header-top .header-top-control ul {
    list-style-type: none;
}

header .header-top .header-top-control .header-top-left {
    display: flex;
    gap: 30px;
}

header .header-top .header-top-control .header-top-left li {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

header .header-top .header-top-control .header-top-left i {
    color: #E8604C;
    font-size: 14px;
}

header .header-top .header-top-control .header-top-left span {
    color: lightgray;
    font-size: 13px;
    font-weight: 500;
}

header .header-top .header-top-control .header-top-left li:hover span {
    color: #E8604C;
}

header .header-top .header-top-control .header-top-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .header-top .header-top-control .header-top-right ul {
    display: flex;
    gap: 25px;
}

header .header-top .header-top-control .header-top-right .linked-in {
    display: none;
}

header .header-top .header-top-control .header-top-right li i {
    color: white;
    font-size: 15px;
    cursor: pointer;
}

header .header-top .header-top-control .header-top-right li:hover i {
    color: grey;
}

header .header-top .header-top-control .header-top-right .become-local-guide {
    background-color: #E8604C;
    height: 45px;
    align-content: center;
    color: white;
    font-size: 12px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

header .header-top .header-top-control .header-top-right .become-local-guide:hover {
    background-color: #dd7364;
}

header .header-menu {
    align-content: center;
    height: 100px;
    width: 100%;
    transition: 0.3s;
    border-bottom: 1px solid lightgray;

}

header .header-menu .header-menu-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 270px;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    background-color: #313041;
}

header .header-menu .header-menu-control .header-menu-left {
    display: flex;
    list-style-type: none;
    color: white;
    gap: 30px;
    align-items: center;
    margin: 0;
}

header .header-menu .header-menu-control .header-menu-left .menu-logo img {
    width: 150px;
    vertical-align: middle;
}

header .header-menu .header-menu-control .header-menu-left .menu-list {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name {
    /*height: 101px;*/
    align-content: center;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name span {
    position: relative;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name .home-list {
    display: none;
    position: absolute;
    margin-top: 35px;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name:hover .home-list {
    display: block;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name .home-list ul {
    list-style-type: none;
    background: white;
    color: grey;
    padding: 25px 30px;
    width: 250px;
    border-radius: 5px;


}

.header-menu-control .header-menu-left .menu-list .menu-name .home-list .bottom-line {
    border-bottom: 1px solid lightgray;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .home-active-line {
    display: block;
    height: 3px;
    background-color: orangered;
    border-radius: 5px;
    width: 60px;
}

header .header-menu .header-menu-control .header-menu-left .menu-list i {
    font-size: 12px;
    margin-left: 3px;
}

header .header-menu .header-menu-control .header-menu-right {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: white;
    gap: 20px;
}

header .header-menu .header-menu-control .header-menu-right li i {
    padding: 10px;
    background-color: #0000006b;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.animat-background {
    overflow: hidden;
    height: 850px;
}

.animat-background iframe {
    width: 125%;
    height: 1078px;
    position: relative;
    transform: translate(-50%, -50%);
    z-index: -1;
    top: 50%;
    left: 50%;
}

.animat-background img {
    width: 125%;
    height: 1078px;
    position: relative;
    transform: translate(-50%, -50%);
    z-index: -1;
    top: 50%;
    left: 50%;
}


/*-----------------------------------------------------------------*/
/*--------------------------responsive----------------------------*/
/*----------------------------------------------------------------*/

@media only screen and (min-width: 300px) and (max-width: 576px) {

    header .header-top .header-top-control {
        justify-content: flex-start;
        padding: 0 15px;
    }

    header .header-top .header-top-control .header-top-left {
        display: none;
    }

    header .header-top .header-top-control .header-top-right .linked-in {
        display: block;
    }

    header .header-top .header-top-control .header-top-right .pinterest {
        display: none;
    }

    header .header-top .header-top-control .header-top-right .become-local-guide {
        display: none;
    }

}

@media only screen and (min-width: 576px) and (max-width: 1024px) {

    header .header-top .header-top-control {
        display: block;
        padding: 0 15px;
    }

    header .header-top .header-top-control .header-top-left {
        display: none;
    }

    header .header-top .header-top-control .header-top-right {
        justify-content: space-between;
    }

    header .header-top .header-top-control .header-top-right ul {
        gap: 15px;
    }

    header .header-top .header-top-control .header-top-right li i {
        font-size: 16px;
    }

    header .header-top .header-top-control .header-top-right .linked-in {
        display: block;
    }

    header .header-top .header-top-control .header-top-right .pinterest {
        display: none;
    }

    header .header-top .header-top-control .header-top-right .become-local-guide {
        background: none;
        padding: 0;
        font-size: 14px;
        font-weight: 400;
    }

    header .header-top .header-top-control .header-top-right .become-local-guide:hover {
        background: none;
        color: #E8604C;
    }

}


@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    header .header-top .header-top-control {
        padding: 0 15px;
        justify-content: space-between;
        gap: 0;
    }

}
