* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

header .header-top {
    background-color: #313041;
}

header .header-top .header-top-control {
    margin: 0 auto;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 480px;
}

header .header-top .header-top-control ul {
    list-style-type: none;
}

header .header-top .header-top-control .header-top-left {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

header .header-top .header-top-control .header-top-left li {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

header .header-top .header-top-control .header-top-left i {
    color: #E8604C;
    font-size: 14px;
}

header .header-top .header-top-control .header-top-left span {
    color: gray;
    font-size: 14px;
    font-weight: 500;
}

header .header-top .header-top-control .header-top-left li:hover span {
    color: #E8604C;
}

header .header-top .header-top-control .header-top-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .header-top .header-top-control .header-top-right ul {
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

header .header-top .header-top-control .header-top-right .linked-in {
    display: none;
}

header .header-top .header-top-control .header-top-right li i {
    color: white;
    font-size: 15px;
    cursor: pointer;
}

header .header-top .header-top-control .header-top-right li:hover i {
    color: grey;
}

header .header-top .header-top-control .header-top-right .become-local-guide {
    background-color: #E8604C;
    height: 45px;
    align-content: center;
    color: white;
    font-size: 12px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

header .header-top .header-top-control .header-top-right .become-local-guide:hover {
    background-color: #dd7364;
}

header .header-menu {
    align-content: center;
    height: 100px;
    width: 100%;
    transition: 0.3s;
    border-bottom: 1px solid lightgray;

}

header .header-menu .header-menu-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 270px;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    background-color: #313041;
}

header .header-menu .header-menu-control .header-menu-left {
    display: flex;
    list-style-type: none;
    color: white;
    gap: 30px;
    align-items: center;
    margin: 0;
    padding: 0;
}

header .header-menu .header-menu-control .header-menu-left .logo-black {
    display: none !important;
}

header .header-menu .header-menu-control .header-menu-left .menu-logo img {
    width: 150px;
    vertical-align: middle;
}

header .header-menu .header-menu-control .header-menu-left .menu-list {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name {
    height: 100px;
    align-content: center;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name span {
    position: relative;
}

header .header-menu .header-menu-control .header-menu-left .menu-list:hover .menu-name .home-list {
    display: block;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name .list-box {
    display: none;
    position: absolute;
    margin-top: 35px;

}

header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name .list-box ul {
    list-style-type: none;
    background: white;
    color: grey;
    padding: 25px 30px;
    border-radius: 5px;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name .home-list ul {
    width: 250px;
}

/*header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name .tour-list ul {*/
/*    width: 250px;*/
/*}*/

/*header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name .news-list ul {*/
/*    width: 250px;*/
/*}*/

header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name .list-box ul li {
    font-weight: 300;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 30px;
}


.header-menu-control .header-menu-left .menu-list .menu-name .bottom-line {
    border-bottom: 1px solid lightgray;
}

.header-menu-control .header-menu-left .menu-list .menu-name .list-box ul li:hover {
    color: #E8604C;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .active-line {
    display: block;
    height: 3px;
    background-color: orangered;
    border-radius: 5px;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .home-active-line {
    width: 60px;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .tour-active-line {
  width: 100px;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .destination-active-line {
  width: 105px;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .news-active-line {
  width: 56px;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .page-active-line {
  width: 63px;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .contact-active-line {
  width: 78px;
}

header .header-menu .header-menu-control .header-menu-left .menu-list:hover .tour-list {
    display: block;
}

header .header-menu .header-menu-control .header-menu-left .menu-list:hover .destination-list {
    display: block;
}

header .header-menu .header-menu-control .header-menu-left .menu-list:hover .news-list {
    display: block;
}

header .header-menu .header-menu-control .header-menu-left .menu-list:hover .page-list {
    display: block;
}

header .header-menu .header-menu-control .header-menu-left .menu-list:hover .contact-list {
    display: block;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name .tour-list ul {
    width: 250px;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name .destination-list ul {
    width: 250px;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name .news-list ul {
    width: 250px;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name .page-list .all-page {
    width: 700px;
    margin-left: -325px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    border-radius: 5px;
    padding: 25px 30px;
    gap: 20px;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name .all-page ul {
  list-style-type: none;
  color: grey;
  padding: 0px;
}

header .header-menu .header-menu-control .header-menu-left .menu-list .menu-name .all-page ul .page-tittle {
    font-weight: 400;
    color: black;
}

header .header-menu .header-menu-control .header-menu-left .menu-list i {
    font-size: 12px;
    margin-left: 3px;
}

header .header-menu .header-menu-control .header-menu-right {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: white;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header .header-menu .header-menu-control .header-menu-right li i {
    padding: 10px;
    background-color: #0000006b;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

header .header-menu .header-menu-control .header-menu-right .three-line-icon i {
        display: none;
}

.animat-background {
    overflow: hidden;
    height: 850px;
}

.animat-background iframe {
    width: 125%;
    height: 1078px;
    position: relative;
    transform: translate(-50%, -50%);
    z-index: -1;
    top: 50%;
    left: 50%;
}

.animat-background img {
    width: 125%;
    height: 1078px;
    position: relative;
    transform: translate(-50%, -50%);
    z-index: -1;
    top: 50%;
    left: 50%;
}


/*-----------------------------------------------------------------*/
/*--------------------------responsive----------------------------*/
/*----------------------------------------------------------------*/

@media only screen and (min-width: 300px) and (max-width: 575px) {

    header .header-top .header-top-control {
        justify-content: flex-start;
        padding: 0 15px;
    }

    header .header-top .header-top-control .header-top-left {
        display: none;
    }

    header .header-top .header-top-control .header-top-right .linked-in {
        display: block;
    }

    header .header-top .header-top-control .header-top-right .pinterest {
        display: none;
    }

    header .header-top .header-top-control .header-top-right .become-local-guide {
        display: none;
    }

    header .header-menu {
        background-color: white;
    }

    header .header-menu .header-menu-control {
        justify-content: space-between;
        padding: 0 15px;
        gap: 0;
    }

    header .header-menu .header-menu-control .header-menu-left .logo-white {
        display: none;
    }

    header .header-menu .header-menu-control .header-menu-left .logo-black {
        display: block !important;
    }

    header .header-menu .header-menu-control .header-menu-left .menu-list {
        display: none;
    }

    header .header-menu .header-menu-control .header-menu-right .search-menu i {
        display: none;
    }

    header .header-menu .header-menu-control .header-menu-right .search-menu i {
        display: none;
    }

    header .header-menu .header-menu-control .header-menu-right .three-line-icon i {
        display: block ;
    }

    header .header-menu .header-menu-control .header-menu-right li i {
        padding: 0;
        background-color: initial;
        border-radius: 0;
        color: gray;
    }

    header .header-menu .header-menu-control .header-menu-right .circle-user i {
        padding: 10px;
        background-color: beige;
        border-radius: 50%;
    }

    header .header-menu .header-menu-control .header-menu-right .circle-user:hover i {
        color: #E8604C;
    }

}

@media only screen and (min-width: 576px) and (max-width: 1024px) {

    header .header-top .header-top-control {
        display: block;
        padding: 0 15px;
    }

    header .header-top .header-top-control .header-top-left {
        display: none;
    }

    header .header-top .header-top-control .header-top-right {
        justify-content: space-between;
    }

    header .header-top .header-top-control .header-top-right ul {
        gap: 15px;
    }

    header .header-top .header-top-control .header-top-right li i {
        font-size: 16px;
    }

    header .header-top .header-top-control .header-top-right .linked-in {
        display: block;
    }

    header .header-top .header-top-control .header-top-right .pinterest {
        display: none;
    }

    header .header-top .header-top-control .header-top-right .become-local-guide {
        background: none;
        padding: 0;
        font-size: 14px;
        font-weight: 400;
    }

    header .header-top .header-top-control .header-top-right .become-local-guide:hover {
        background: none;
        color: #E8604C;
    }

    header .header-menu {
        background-color: white;
    }

    header .header-menu .header-menu-control {
        justify-content: space-between;
        padding: 0 15px;
        gap: 0;
    }

    header .header-menu .header-menu-control .header-menu-left .logo-white {
        display: none;
    }

    header .header-menu .header-menu-control .header-menu-left .logo-black {
        display: block !important;
    }

    header .header-menu .header-menu-control .header-menu-left .menu-list {
        display: none;
    }

    header .header-menu .header-menu-control .header-menu-right .search-menu i {
        display: none;
    }

    header .header-menu .header-menu-control .header-menu-right .search-menu i {
        display: none;
    }

    header .header-menu .header-menu-control .header-menu-right .three-line-icon i {
        display: block ;
    }

    header .header-menu .header-menu-control .header-menu-right li i {
        padding: 0;
        background-color: initial;
        border-radius: 0;
        color: gray;
    }

    header .header-menu .header-menu-control .header-menu-right .circle-user i {
        padding: 10px;
        background-color: beige;
        border-radius: 50%;
    }

    header .header-menu .header-menu-control .header-menu-right .circle-user:hover i {
        color: #E8604C;
    }

    .animat-background img {
        width: 100%;
    }

    .animat-background iframe {
        width: 75rem;
        top: 57%;
    }

}


@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    header .header-top .header-top-control {
        padding: 0 15px;
        justify-content: space-between;
        gap: 0;
    }

    header .header-menu .header-menu-control {
        gap: 0px;
        justify-content: space-between;
        padding: 0 15px;
    }

    .animat-background iframe {
        width: 92rem;
    }

    header .header-menu .header-menu-control .header-menu-left .logo-black {
        display: none;
    }

}
